<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DDE7A331A2E0ECA0037056A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DDE7A461A2E0ECA0037056A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DFE339C1A3B5EC5006F8E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DFE33AE1A3B5EC6006F8E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
